<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="footer" class="footer"><p>© 2026 Smart Wallet. All rights reserved.</p></div>

<nav th:fragment="main-menu" class="navbar navbar-expand-lg navbar-light gradient sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <span class="fw-bold fst-italic">Music Flow</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/records/all(sort=${sort})}"><i class="fas fa-compact-disc"></i> Products</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="contact.html"><i class="fas fa-envelope"></i> Contact</a>
                </li>
            </ul>

            <!-- Search Form -->
            <form class="search-form mx-auto d-flex">
                <input class="form-control me-2" type="search" placeholder="Search for music albums..."
                       aria-label="Search">
                <button class="btn btn-outline-light" type="submit"><i class="fas fa-search"></i></button>
            </form>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/wishlist">
                                <span class="cart-icon">
                                    <i class="fa-regular fa-heart"></i>
                                    <!-- <span class="cart-badge">1</span> -->
                                </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shopping-cart">
                                <span class="cart-icon">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span th:text="${user != null and user.getShoppingCart() !=null ? user.getShoppingCart().getTotalQuantity() : 0}" class="cart-badge">1</span>
                                </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:text="${user != null and user.getShoppingCart() !=null ? '$'+user.getShoppingCart().getTotalPrice() : '$0'}" class="nav-link" href="/shopping-cart">$100.00</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav th:fragment="secondary-menu" class="navbar navbar-expand-lg navbar-dark second-nav">
    <div class="container-fluid">
        <ul class="navbar-nav ms-auto">
            <li th:if="${user == null}" class="nav-item">
                <a class="nav-link" href="./user_registration.html"><i class="fas fa-user-plus"></i>
                    Register</a>
            </li>
            <li th:if="${user != null}" class="nav-item">
                <a class="nav-link"  th:href="@{'/users/profile?username=' + ${user.username}}"><i class="fas fa-user"></i> Profile</a>
            </li>
            <li th:if="${user == null}" class="nav-item">
                <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
            </li>
            <li th:if="${user != null}" class="nav-item">
                <a class="nav-link" href="/logout"> <i class="fas fa-sign-out-alt me-2"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>

<nav th:fragment="admin-menu" class="nav-menu">
    <div class="nav-item">
        <a href="/admin/dashboard"  th:classappend="${page=='dashboard' ? ' active' : ''}" class="nav-link">
            <i class="fas fa-home"></i>
            Dashboard
        </a>
    </div>
    <div class="nav-item">
        <a href="/admin/records"  th:classappend="${page=='records' ? ' active' : ''}" class="nav-link">
            <i class="fas fa-compact-disc"></i>
            Records
        </a>
    </div>
    <div class="nav-item">
        <a href="users.html" th:classappend="${page=='users' ? ' active' : ''}" class="nav-link">
            <i class="fas fa-users"></i>
            Users
        </a>
    </div>
    <div class="nav-item">
        <a href="/admin/orders" th:classappend="${page=='orders' ? ' active' : ''}"  class="nav-link">
            <i class="fas fa-shopping-cart"></i>
            Orders
        </a>
    </div>
    <div class="nav-item">
        <a href="reports.html" th:classappend="${page=='reports' ? ' active' : ''}" class="nav-link">
            <i class="fas fa-chart-bar"></i>
            Reports
        </a>
    </div>
    <div class="nav-item">
        <a href="#" th:classappend="${page=='email' ? ' active' : ''}" class="nav-link">
            <i class="fas fa-envelope"></i>
            Send Email
        </a>
    </div>
</nav>
</body>
</html>